* {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffc600;
}

.inbox {
  background: white;
  max-width: 400px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #f1f1f1;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}

.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
  border-bottom: 0;
}

.item input[type="checkbox"] {
  margin: 20px;
}

.item p {
  margin: 0;
  padding: 20px 0;
  flex: 1;
  border-left: 1px solid #f1f1f1;
}

/* Checkbox marcado */
.item input:checked + p {
  text-decoration: line-through;
  color: #999;
  background: #f9f9f9;
}
